@import "tailwindcss";

:root {
  --font-at: 'ATLang', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-at);
  }
}

.font-at {
  font-family: var(--font-at);
}

.my-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-bg-color{
  background-color: #67A4D5;
}

.hero-bg-color{
  background-color: #FF4200;
}

.about-bg-color{
  background-color: #262626;
}